.MuiDataGrid-main > div:nth-last-child(2) {
  display: none;
}

.MuiDataGrid-columnHeaderTitleContainerContent {
  .MuiDataGrid-columnHeaderTitle {
    font-weight: bold;
  }
}

.MuiTablePagination-root {
  margin: auto;

  .MuiToolbar-root.MuiTablePagination-toolbar {
    min-height: auto;
  }
}

.MuiTablePagination-actions {
  display: none;
}

.MuiDataGrid-toolbarContainer {
  .MuiButton-root {
    font-weight: bold;
  }
}

@media (max-width: 767.98px) {
  .MuiTablePagination-root {
    margin-left: 0 !important;
  }
}