.MuiDataGrid-main > div:nth-last-child(2) {
  display: none;
}

.MuiDataGrid-columnHeaderTitleContainerContent {
  .MuiDataGrid-columnHeaderTitle {
    font-weight: bold;
  }
}

.MuiTablePagination-root {
  margin: auto;

  .MuiToolbar-root.MuiTablePagination-toolbar {
    min-height: auto;
  }
}

.MuiTablePagination-actions {
  display: none;
}

